name: CI Tests

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies (CMake, C++ Compiler)
        run: |
          sudo apt-get update
          sudo apt-get install cmake build-essential -y
          g++ --version

      - name: Configure CMake
        run: cmake -B ${{ github.workspace }}/build -DCMAKE_BUILD_TYPE=Release

      - name: Build Project
        run: cmake --build ${{ github.workspace }}/build --config Release

      - name: Run Tests
        run: ./my_tests
        working-directory: ${{ github.workspace }}/build